* {
    margin:0;
    padding:0;
}
HTML,body {
    background: #CCC;
    font-family: "Trebuchet MS", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
}
#connectivity_indicator {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
#notice {
    font-size: 2rem;
}
#count_down {
    font-size: 4rem;
    margin-bottom:1rem;
}
button {
    background: #4285F4;
    border: 0;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1em;
    padding: 1em 2em;
    transform: scale(1);
}
button:active {
    transform: scale(.95);
}
.show {
    display: inline-block;
}